@font-face {
  font-family: 'digital';
  src: local('digital'),
       url('fonts/digital.ttf') format('truetype');
}

@font-face {
  font-family: 'karatefont';
  src: local('karatefont'),
       url('fonts/japon.ttf') format('truetype');
}


body,html{ 
  width: 100% !important;
  height: 100% !important;
  font-family: sans-serif;
  background-color: #000000;
  color:#fff;
  font-size: 25px !important;
  /* overflow: hidden; */
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

.navbar-nav {
  float:right;
  
}

.nav-item {
  padding-top:10px;
  
}
@media (min-width: 768px) {
  /* Estilos para pantallas grandes */
  .navbar .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  
  .navbar .nav-link i {
    margin-bottom: 0.25rem;
    
  }

  .navbar .fas {
    font-size: 24px;
  }
}

.fullwidth {
  max-width: 800px;
  min-height: 10px; 
  clear: both;
  padding: 30px 7px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

h1, h2, h3, h6, h7 {font-weight: 100 !important; letter-spacing: 1px;}
a {color: #A00; text-decoration: none}
a:hover {cursor:pointer; color:#F00; text-decoration: underline}

input[type="checkbox"] {margin: none;}
.row input {width: 100% !important;;}

.form-control{font-size: 25px !important;}

.left{float:left !important}
.right{float:right !important}


.card-body{color:#000 !important; padding: 0.1rem !important;}
.card-header {padding: 0.1rem !important;}


linea{clear:both;}
ln-titulo{width: 50%; float:left; margin-top: 3px;}
ln-valor{width: 50%; float:left; height:32px;}

.modal{
  color: #000;
  margin-top: 50px !important;
}
.modal-dialog{top: 100px !important;}

.btn-transparente {
  color: #fff;
  border: none;
  font-size: 24px;
  width: 100%;
  margin: 5px 0px;
}

.btn-evento {
  color: #fff;
  border-color: #fff;
  font-size: 24px;
  width: 100%;
  margin: 5px 0px;
}

.btn-evento:hover {
  color: #fff;
}

.form-check-input {position: relative !important;}

.btn-modal{
  border-color: #000;
  font-size: 24px;
  width: 100%;
  margin: 5px 0px;
}




.ao {color: #007bff}
.aka {color: #dc3545}

