@font-face {
  font-family: 'digital';
  src: local('digital'),
       url('fonts/digital.ttf') format('truetype');
}

@font-face {
  font-family: 'karatefont';
  src: local('karatefont'),
       url('fonts/japon.ttf') format('truetype');
}


body,html{ 
  width: 100% !important;
  min-height: 80vh;
  font-family: sans-serif;
  background-color: #000000;
  color:#fff;
  /* overflow: hidden; */
  padding-bottom: 80px; /* Para el menu */
}
.content {
  display:none;
  max-width: 800px;
  min-height: 10px; 
  clear: both;
  padding: 5px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  /* Estilos para pantallas grandes */

  .fixed-bottom-menu{
    display: none;
  }

  .navbar {
    position: fixed;
    border: none;
    border-radius: 0px;
    top: 0 !important;
    width: 100%;
  }


  .navbar .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding:5px 20px !important;
  }
  
  .navbar .nav-link i {
    margin-bottom: 0.25rem;
  }

  .navbar .fas {
    font-size: 20px;
  }
  
  .content{
    padding-top: 80px !important;
  }

  #Alert{
    padding-top: 60px !important;
  }
}

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  .navbar {
    display: none;
  }

  .fixed-bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
  
  .fixed-bottom-menu .nav-link{
    color:grey;
  }

  .nav-selected{
    font-size: 25px;
    margin-top: -5px;
    border: solid thin;
    border-radius: 10px;
    color:red !important;
  }
}

.nav-link{
  cursor:pointer;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparencia del fondo */
  display: none; /* Inicialmente oculto */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté en la parte superior */
}

.loading-icon {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#Alert{display:none}
.alert-error{background-color: rgb(50, 0, 0); color: white;}
.alert-info{background-color: rgb(0, 0, 50); color: white;}
.alert-success{background-color: rgb(0, 50, 0); color: white;}
#x-de-pega{float: right;}



h1, h2, h3, h6, h7 {font-weight: 100 !important; letter-spacing: 1px;}
a {color: #A00; text-decoration: none}
a:hover {cursor:pointer; color:#F00; text-decoration: underline}

input[type="checkbox"] {margin: none;}
input, select{
  color: black !important;
  font-size: 24px !important;
}

.row input {width: 100% !important;;}

.left{float:left !important}
.right{float:right !important}


.card-body{color:#000 !important; padding: 0.1rem !important;}
.card-header {
  padding: 0.1rem !important;
  font-size: 22px;
}

ln-titulo{width: 50%; float:left; margin-top: 3px;}
ln-valor{width: 50%; float:left; height:32px;}

.modal{
  color: #000;
  margin-top: 50px !important;
}
.modal-dialog{top: 100px !important;}

.btn-transparente {
  color: #fff;
  border: none;
  font-size: 24px;
  width: 100%;
  margin: 5px 0px;
}

.btn-evento {
  color: #fff;
  border-color: #fff;
  margin: 5px 0px;
  width: 100%;
}

.btn-evento:hover {
  color: #fff;
}

.form-check-input {position: relative !important;}

.btn-modal{
  border-color: #000;
  font-size: 24px;
  width: 100%;
  margin: 5px 0px;
}


.left{float:left !important}
.right{float:right !important}

.ao {color: #007bff}
.aka {color: #dc3545}


.scoreboard-number {
  font-size: 80px;
  font-family: 'digital', sans-serif;
  margin: 0px;
  text-align: center;
}

.scoreboard-number-list {
  font-size: 30px !important;
}

.linea-karateka{
  width: 100%;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 22px;
  text-align: left;
  border-bottom: solid thin #fff;
}